
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ML.Usuario

<div class="container">

    <h2>Usuarios</h2>

    <p>Bienvenidos a la pestaña Usuarios</p>

    <div class="row">
        <div style="float:right">
            @Html.ActionLink("+", "Form", "User", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>

    <hr />

    <div class="row">

        <table class="table table-responsive table-hover">

            <thead class="table table-dark">
                <tr>
                    <th>Editar</th>
                    @*<th>ID</th>*@
                    <th>Nombre</th>
                    @*<th>Apellido paterno</th>
                        <th>Apellido materno</th>*@
                    <th>Fecha de nacimiento</th>
                    <th>Sexo</th>
                    <th>Teléfono</th>
                    <th>Nombre de usuario</th>
                    @*<th>Contraseña</th>*@
                    <th>E-mail</th>
                    <th>Celular</th>
                    <th>CURP</th>
                    <th>Rol</th>
                    <th>Dirección</th>
                    <th>Imagen</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>

                @foreach (ML.Usuario usuario in Model.Usuarios)
                {
                    <tr>
                        <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "User", new {IdUsuario = usuario.IdUsuario})"></a></td>
                        @*<td>@usuario.IdUsuario</td>*@
                        <td>@usuario.Nombre @usuario.ApellidoPaterno @usuario.ApellidoMaterno</td>
                        @*<td>@usuario.ApellidoPaterno</td>
                            <td>@usuario.ApellidoMaterno</td>*@
                        <td>@usuario.FechaNacimiento</td>
                        <td>@usuario.Sexo</td>
                        <td>@usuario.Telefono</td>
                        <td>@usuario.UserName</td>
                        @*<td>@usuario.Password</td>*@
                        <td>@usuario.Email</td>
                        <td>@usuario.Celular</td>
                        <td>@usuario.CURP</td>
                        <td>@usuario.Rol.Nombre</td>
                        <td>@usuario.Direccion.Calle @usuario.Direccion.NumeroExterior @usuario.Direccion.NumeroInterior, @usuario.Direccion.Colonia.Nombre, @usuario.Direccion.Colonia.Municipio.Nombre, @usuario.Direccion.Colonia.Municipio.Estado.Nombre, @usuario.Direccion.Colonia.Municipio.Estado.Pais.Nombre</td>

                        @if (usuario.Imagen == null | usuario.Imagen == "")
                        {
                            <td><img src="~/Files/PhotoEmpty.jpg" style="height:80px; width:120px;" /></td>
                        }
                        else
                        {
                            <td><img src="data:image/png;base64,@usuario.Imagen" style="height:150px; width:120px;" /></td>
                        }

                        @*<td>@usuario.Imagen</td>*@
                        <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "User", new {IdUsuario = usuario.IdUsuario})" onclick="return confirm('¿Estás seguro que deseas eliminar el usuario?');"></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

